.profile{
    padding: 50px 20px 150px 20px;
    text-align: center;
    background: #20c8ff;
    color: #fff;
}
.profile__photo{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgba(255, 2555, 255, .5);
    margin-bottom: 20px;
}
.profile__photo img{
    object-fit: cover;
    max-width: 100%;
}
.profile__name{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
}
.profile__city{
    font-weight: 300;
    font-size: 20px;
}